<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>{{user}}</h1>
        <ul>
            <li>{{user.username}}</li>
            <li>{{user.email}}</li>
        </ul>
    <button>
        <a href="{% url 'account_logout' %}">logout</a>
    </button>
    <button>
        <a href="{% url 'account_change_password' %}">change password</a>
    </button>

</body>
</html>